/**
HEAD SANS TEXT FONT
 */
$name: 'Name';

$imp: !important;

/**
 COLORS
*/

/* -----  GREY  */

$grey-9: #999999;
$grey-a: #aaaaaa;
$grey-ef: #efefed;
$grey-6c: #6c6c6c;
$grey-66: #666666;
$grey-64: #646464;
$grey-87: #878787;
$grey-26: #262626;
$grey-53: #535353;
$grey-26: #262626;
$grey-6d: #6e6e6d;
$grey-d8: #d8d8d8;
$grey-33: #333333;
$grey-4a: #4a4a4a;
$grey-89: #898989;
$grey-97: #979797;
$black-05: #050505;
$grey-9b: #9b9b9b;


$orangeInfo: #f5a623;
$white: #FFFFFF;
$black: #000000;

/* -----  MEDIA-QUERRIES BREAK-POINTS  */

$break-400: 400px;
$break-540: 540px;
$break-768: 768px;
$break-1024: 1024px;
$break-1200: 1200px;