/**
BUTTONS GUIDELINES
 */

.cl-btn-36 {
  min-width: 140px;
  font-family: $name;
  border: none;
  font-size: 18px;
  color: $white;
  min-height: 36px;
  padding: 5px 30px;
}

.cl-btn-46 {
  min-width: 140px;
  font-family: $name;
  border: none;
  font-size: 18px;
  color: $white;
  min-height: 46px;
  padding: 5px 30px;
}
